@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'cera.css';
// @import 'admin.css';

body, input {
    background-color: #f7f8fb; }
.header {
    @apply text-prime-400 pt-20 px-20 fixed top-0 inset-x-0 bg-white flex items-start justify-between; 
    .title {
        @apply text-black font-bold; }
}
.header-spacer {
    @apply mb-75; }

.page {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    @apply flex flex-col justify-between pb-75; 
}
.page.with-header {
    @apply pt-75; }
    
.page-text {
    @apply text-black mx-20 my-20; 
    h1 { 
        @apply text-3xl font-bold text-prime-600 mt-40 mb-20; }
    h2 {
        @apply text-xl font-medium mt-20 mb-11; }
    p {
        @apply text-base my-11; }
}
.page-icon {
    @apply text-prime-300; }

.page-block-title {
    @apply font-medium mx-20; }
.page-block {
    @apply mx-20 px-16 my-16 py-20 shadow-lg rounded-md bg-white; 
    p {
        @apply mt-11 mx-0 mb-0; }
    .marker {
        @apply rounded-sm bg-prime-400 text-white text-xs p-5; }
}
.page-block.active {
    @apply bg-prime-400 text-white; }
.page-block.selected {
    @apply bg-prime-500 text-white; }

.vertical-center {
    margin-bottom: 1px; }
.settings-icon {
    @apply text-gray-700 mr-11 hidden; }

.settings {
    @apply bg-gray-200 rounded-t-lg; 
    .block {
        @apply py-30 px-20 text-sm border-b border-gray-300 flex flex-wrap items-center justify-between; 
        .change {
            @apply hidden; }
        .title {
            @apply font-medium w-1/2 flex items-center; }
        .value {
            @apply w-1/2 overflow-hidden text-right flex items-center justify-end; 
            .action {
                @apply w-20; }
        }
        .input-item {
            @apply text-base; 
            input {
                @apply w-full bg-white px-5 py-5; }
                input:focus {
                    @apply outline-none; }
                .error input {
                    @apply border-b border-prime-500; }
            label {
                @apply text-xs block mr-auto text-left ml-5 mt-11; }
                .error label {
                    @apply text-prime-500; }
        }
        .bottom {
            @apply min-h-30 w-full text-right py-11; 
            .error-text {
                @apply text-xs text-prime-500 mr-5; }
            .warning-text {
                @apply text-xs text-gray-500 mr-5; }
        }
    }
    .block.with-errors {
        @apply pb-0; }
}

.input-name {
    @apply text-center my-20 mx-20; 
    input {
        @apply text-center w-full text-black; }
        input:focus {
            @apply bg-white outline-none border-b border-gray-300; }
    .error-text {
        @apply text-xs text-prime-500; }
}
.input-name.error input:focus {
    @apply border-prime-500; }

.save-button-holder {
    @apply fixed z-10 top-0 right-0 mt-20 mr-20 ; 
    button {
        @apply font-bold text-base text-prime-500; }
}

.subscription-payment {
    @apply px-20 py-30; }

.subscription-switch {
    @apply mt-30 mb-75; }

.button-holder {
    @apply mx-auto text-center mt-16 pb-30; 
    button {
        @apply text-white bg-prime-500 py-11 px-40 rounded; }
    button:focus {
        @apply bg-prime-500 outline-none; }
    button:hover {
        @apply bg-prime-700; }
    button:disabled {
        @apply bg-prime-300; }
}
.big-button-holder {
    @apply mx-20 text-center my-16;
    button {
        @apply text-white bg-prime-500 py-16 rounded w-full; }
    button:focus {
        @apply bg-prime-500 outline-none; }
    button:hover {
        @apply bg-prime-700; }
    button:disabled {
        @apply bg-prime-300; }
}

.form {
    .group {
        @apply mx-20 my-16; 
        label {
            @apply text-sm ml-11; }
        input {
            @apply w-full p-11 text-lg rounded bg-white border border-gray-300; }
        input:focus {
            @apply outline-none; }
    }
    .group.has-error {
        label {
            @apply text-prime-500; }
        input {
            @apply border-prime-500; }
        .error-description {
            @apply text-sm text-prime-500 ml-11; }
    }
    .error {
        @apply text-sm text-prime-500 mx-20 text-center;
    }
}

.pay-form {
    @apply px-16 my-16 py-20 max-w-full border rounded-md bg-prime-200 border-prime-200 shadow-lg;
    input {
        @apply bg-white; }
    .field {
        @apply p-5 text-lg; }
    .card-number {
        @apply mt-30 w-full tracking-widest; }
    .card-holder {
        @apply mt-30 w-full tracking-widest; }
    .line-2 {
        @apply flex justify-between mt-5; }
    .expire {
        @apply flex items-center bg-white; 
        .expire-month {
            @apply w-40 text-lg tracking-widest text-right; }
        .divider {
            @apply vertical-center; }
        .expire-year {
            @apply pl-5 w-40 text-lg tracking-widest; }
    }
    .cvv {
        @apply flex justify-end items-center; 
        .description {
            @apply text-xs text-gray-700 w-75 leading-snug mr-5; }
        .number {
            @apply w-50 text-center tracking-normal; }
    }
    input:focus {
        @apply outline-none; }
}
.pay-form-error {
    @apply text-prime-500 text-sm  text-center mx-20; }

.bottom-menu {
    @apply fixed z-10 bottom-0 inset-x-0 w-full h-75 shadow-xl bg-white  
        text-gray-500 flex items-center justify-between rounded-t-lg; 
    .item {
        @apply mx-30; }
}
.left-menu {
    @apply hidden; }
.secure-frame {
    @apply fixed left-0 top-0 w-full h-full max-h-screen bg-white pb-75;
    .close {
        @apply float-right p-11 text-gray-700 text-xl; }
        .close:after {
            content: ""; display: table; clear: both; }
    iframe {
        @apply w-full h-full pb-50; }
}
.popup-message {
    @apply fixed top-0 inset-x-0 z-30;
    .block {
        @apply rounded bg-gray-300 text-gray-700 shadow px-20 py-30 m-5 flex items-start;
        .close {
            @apply ml-auto pl-11 -mt-11; }
    }
}



@media(min-width: theme('screens.xs')) {
    .settings-icon {
        @apply block; }
}

@import 'spinner.scss';
@import 'checkbox.scss';
@import 'large.scss';
@import 'dark.scss';

