@media(min-width: theme('screens.lg')) {
    .page {
        @apply flex-row items-stretch p-0 pl-75;
        .main {
            @apply w-full max-w-screen-xl mx-auto; }
        .helpers {
            @apply flex-grow-0 w-1/3 shadow-xl pt-75; }
        .header {
            @apply static block bg-transparent pt-30 pl-75 mb-20 text-3xl; 
            div {
                @apply hidden; }
            .title {
                @apply block text-prime-600; }
        }
    }
    .page.with-header {
        @apply pt-0; }
    .page.no-helpers {
        @apply block flex-none;
        .helpers {
            @apply w-full shadow-none pt-0 max-w-screen-sm mx-auto; }
    }
    .page-icon {
        @apply hidden; }
    .page-container {
        @apply flex flex-wrap px-30; }
    .page-container.double > div {
            @apply w-1/2; }
    .page-container.triple > div {
            @apply w-1/3; }

    .page-text {
        @apply text-black ml-50 mr-50 my-0; 
        h1 { 
            @apply text-3xl font-bold text-prime-600 ml-20 mt-30 mb-20; }
        h2 {
            @apply text-xl font-medium mt-20 mb-11; }
        p {
            @apply text-base my-11; }
    }

    .settings-icon {
        @apply min-w-20 text-prime-500; }
    .settings {
        @apply bg-transparent rounded-none; 
        .block {
            @apply py-20 px-16 my-16 mx-20 text-sm flex flex-wrap items-center justify-between 
                shadow-lg rounded-md bg-white; 
            .bottom {
                @apply min-h-20 w-full text-right py-11; }
        }
        .block.with-errors {
            @apply pb-0; }
    }
    .settings.large {
        .block {
            @apply block mx-11; 
            .change {
                @apply block ml-auto font-bold text-prime-500 cursor-pointer; }
            .title {
                @apply w-full; }
            .value {
                @apply w-full text-left ml-30 pl-px mt-20 justify-start; 
                .action {
                    @apply hidden; }
            }
            .input-item input {
                @apply border border-gray-500; }
            .save-button-holder {
                @apply static text-right mt-0 mr-0; 
                button {
                    @apply font-bold text-base text-white bg-prime-500 rounded px-11 py-5 mt-11 mb-5; }
            }
        }
    }

    .subscription-switch {
        @apply my-16; }

    .bottom-menu {
        @apply hidden; }
    .left-menu {
        @apply block fixed z-10 left-0 inset-y-0 h-full w-75 shadow-xl bg-white  
            text-gray-500 flex flex-col items-center justify-start rounded-none pt-75; 
        .title {
            @apply block fixed z-20 top-0 left-0 my-30 ml-5 p-11 bg-prime-500 text-white font-bold rounded; }
        .item {
            @apply mx-auto my-16; }
    }

    .secure-frame {
        @apply pb-0 pl-75;
        iframe {
            @apply pl-50 pr-50 pb-50; }
    }
    .popup-message .block {
        @apply mx-64; }

    .form-switch i::before, .form-switch i::after {
        @apply bg-white; }
}
